# Compiled Object files
*.slo
*.lo
*.o
*.cuo
*.pyc

# VS2012 temp file
*.sdf
*.suo
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled protocol buffers
*.pb.h
*.pb.cc
*_pb2.py

# bin files
*.testbin
*.bin

# vim swp files
*.swp

# matlab binary
*.mexa64

# anything under data/ unless we force include them
data/*

# anything under /build/MSVC/Debug 
/build/MSVC/Debug*

# anything under /bin
/bin/*

# anything under /build/src
/build/src/*

# anything under /tools/
/tools/*

# anything under distribute
distribute/*
3rdparty/*

# user's specified config
Makefile.config
